<nz-layout class="app-layout">
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
        <span class="header-title">google map show</span>
      </div>
    </nz-header>
    <app-google-map
      [marker]="marker"
      [markerArray]="markerArray"
      (mapRightEvent)="mapRightEvent()"
    ></app-google-map>
  </nz-layout>
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>google map marker</h1>
      </a>
    </div>
    <button
      [ngStyle]="{marginLeft: '24px'}"
      nz-button
      nzType="primary"
      (click)="random()"
    >500 marker</button>
    <input type="file">
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="markers" nzIcon="dashboard">
        <ul>
          <li
            nz-menu-item
            *ngFor="let item of markerArray; let i = index;"
            (click)="trapezeChange(item)"
          >
            <a>marker{{i+1}}</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
</nz-layout>
