<nz-layout class="app-layout">
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
        <span class="header-title">
           <span>
             google map show
           </span>
          <span>shp文件渲染:澳大利亚</span>
        </span>
      </div>
    </nz-header>
    <app-google-map
      [marker]="marker"
      [markerArray]="markerArray"
      (mapRightEvent)="mapRightEvent()"
      [mapGeo]="getGeoJson"
    ></app-google-map>
  </nz-layout>
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>google map marker</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="buttons" nzIcon="bars">
        <ul>
          <li nz-menu-item>
            <button
              nz-button
              nzType="primary"
              (click)="random()"
            >500 marker</button>
          </li>
          <li nz-menu-item>
            <input type="file" accept="*/*" (change)="updateFilename($event)">
          </li>
        </ul>
      </li>

      <li nz-submenu nzOpen nzTitle="markers" nzIcon="dashboard">
        <ul>
          <li
            nz-menu-item
            *ngFor="let item of markerArray; let i = index;"
            (click)="trapezeChange(item)"
          >
            <a>marker{{i+1}}</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
</nz-layout>
